@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

#custom-scroll::-webkit-scrollbar {
    width: 0.3rem;

}

#custom-scroll::-webkit-scrollbar-track {
    background-color: #2A2A2A;

}

#custom-scroll::-webkit-scrollbar-thumb {
    cursor: pointer;
    background-color: #FF85E7;
}

.small-placeholder::placeholder {
    font-size: 0.8rem;
}

.modelDetails {
    width: 100rem;
    height: 50rem;
}

@media screen and (max-width: 1024px) {
    .modelDetails {
        width: 42rem;
        height: 35rem;
    }

}
@media screen and (max-width: 768px) {
    .modelDetails {
        width: 24rem;
        height: 25rem;
    }

}
@media screen and (max-width: 640px) {
    .modelDetails {
        width: 100%;
        height: 20rem;
    }

}